
.wrapper{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #d50b0b;
    }

    h2{
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 1rem;
        text-transform: capitalize;
        color:var(--yellow-theme-main-color);
        display: flex;
        flex-grow: 1;
       padding-top: 20px;



}

span{
    svg{
        color:var(--yellow-theme-main-color)
    }
}
