
    .contact{
        padding: 20px;

       
        }


       
        .header-text::after{
            position: absolute;
            width: 2px;
            height: 5px;
            background-color: var(--yellow-theme-main-color);
            bottom: -1px;

        }
        .header-text::before{
            position: absolute;
            width: 2px;
            height: 5px;
            background-color: var(--yellow-theme-main-color);
            bottom: -1px;
            left: 0;
        }
        .header-text::before{
            right: 0;
        }
       

        

    


    .header-text{
        color: #fff;
        display: inline-block;
        font-size: 22px;
        font-weight: 600;
        line-height: 1em;
        letter-spacing: 0.5px;
        position: relative;
        text-transform: uppercase;
        padding:5px 10px ;
        border-bottom: 2px solid var(--yellow-theme-main-color);

}
.forn{
    margin-top: 30px;
}

    .controlswrapper{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     gap:40px;
     margin-bottom: 30px;
    }
    div{
        position: relative
        ;
        .inputName,
        .inputEmail,
        .inputDescription{
            width: 100%;
            border: 2px solid var(--yellow-theme-main-color);
            padding: 16px 12px;
            transition: all 0.5s ease;
            position: relative;
            background-color: transparent;
            color: #fff;
        }
        .nameLabel,
        .emailLabel,
        .descriptionLabel{
            font-weight: 500;
            position: absolute;
            top:7px;
            left: 12px;
            transition: all 0.2s;
            color:#fff;
            font-size:16px

        }
    }
         .inputName:focus,
        .inputEmail:focus,
        .inputDescription:focus{
            outline: none;

        }
        .inputName:focus + .nameLabel,
        .inputName:valid + .nameLabel,
        .inputEmail:focus+.emailLabel,
        .inputEmail:valid+.emailLabel,
        .inputDescription:focus+.descriptionLabel,
        .inputDescription:valid+.descriptionLabel

        
        
        
        
        
        {
            font-size: 18px;
            top:-25px;
            left: 0px;
        }
        .button{
            cursor: pointer;
            padding: 10PX 70PX;
            font-size: 2rem;
            background-color:transparent;
            color: var(--yellow-theme-main-color);
            border: 1.5 solid #fff;
            border-radius: 4px;
            font-weight: 600;
        }
        .button:hover{
            color: black;
            background:var(--yellow-theme-main-color) ;
        }