
    .content-wrapper{
        display: flex;
        padding: 20px;
        gap:20px;
    }
        .inner-content{
            flex:1;
            display: flex;
            flex-direction: column;
            align-items:center;
          
            }

            .category-text{
                display:inline-block;
                color:var(--yellow-theme-main-color);
                
                font-weight:700;
                font-size: 22px;
                line-height: 1rem;
                letter-spacing: 0.5px;
                position:relative;
                text-transform: uppercase;
                padding: 5px 10px;
                
               
            }
            .category-text::before {
            position: absolute;
            content: 2px;
            height: 5px;
            background-color: var(--yellow-theme-main-color);
            bottom: -1px;
            }
            .category-text::after {
                position: absolute;
                content: 2px;
                height: 5px;
                background-color: var(--yellow-theme-main-color);
                bottom: -1px;
                right: 0;

            }
            .category-text::before{
                left: 0;
            }
            div{
                width: 100%;
            }
            .progressbar-wrapper{
                padding:50px 0px 0px 0px;
            }
            .p{
                font-size: 1.6rem;
                margin: 0 0 10px;
                font-weight: 500;
                text-transform: uppercase;
                color: aliceblue;
            }

        
    
